body,
html {
  padding: 0;
  margin: 0;
  width: 100vw;
}

body {
  font-family: "Montserrat";
  background-color: #444f6f;
  color: white;
  background-image: linear-gradient(31deg, #444f6f 0%, #00d0df 85%, #ff891b 100%);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
}

@media (max-width: 639px) {
  body {
    height: 12px;
  }
}

* {
  outline: none;
}

section {
  margin-bottom: 80px;
}

@media (max-width: 639px) {
  section {
    margin-bottom: 50px;
  }
}

header {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 639px) {
  header {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 10px 20px;
  }
}

@media (min-width: 768px) {
  header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

header > img {
  height: 40px;
}

@media (max-width: 639px) {
  header > img {
    height: 30px;
    margin: 1rem 0;
  }
}

header .right-content {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .right-content > nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .right-content > nav :not(:last-child) {
  margin-right: 100px;
}

@media (max-width: 639px) {
  header .right-content > nav :not(:last-child) {
    margin-right: 15px;
  }
}

header .right-content .contact-us {
  background: #00d0df;
  border-radius: 5px;
  padding: 10px 30px;
  border: none;
  color: white;
}

@media (max-width: 639px) {
  header .right-content .contact-us {
    padding: 5px 10px;
  }
}

.main {
  padding: 20px 80px;
}

@media (max-width: 639px) {
  .main {
    padding: 20px;
  }
}

.main .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 200px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  clear: both;
}

@media (max-width: 639px) {
  .main .intro {
    padding: 10px 0;
  }
}

.main .intro .left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 2;
}

@media (max-width: 639px) {
  .main .intro .left-content {
    padding: 0;
    width: 100%;
  }
}

.main .intro .left-content .logo {
  height: 85px;
  margin-bottom: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  display: none;
}

@media (min-width: 640px) {
  .main .intro .left-content .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main .intro .left-content .question {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
}

@media (max-width: 639px) {
  .main .intro .left-content .question {
    margin-bottom: 20px;
  }
}

.main .intro .left-content .answer {
  font-size: 16px;
  line-height: 22px;
}

.main .intro .right-content {
  height: 600px;
}

@media (max-width: 639px) {
  .main .intro .right-content {
    height: 300px;
    margin-left: -85%;
  }
}

.main .use-case > * {
  margin-bottom: 50px;
}

.main .use-case .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .use-case .heading > strong {
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
}

.main .use-case .heading > p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.main .use-case .cases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 639px) {
  .main .use-case .cases {
    padding: 0 10px;
  }
}

.main .use-case .cases .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 309px;
  background: rgba(196, 196, 196, 0.15);
  border-radius: 3px;
  padding: 2.875rem 2rem;
  width: 26%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1rem 1rem;
}

@media (max-width: 639px) {
  .main .use-case .cases .card {
    width: 100%;
    margin: 0.5rem 0;
    padding: 1.5rem;
    height: 240px;
  }
}

.main .use-case .cases .card > img {
  height: 20%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 1rem;
}

.main .use-case .cases .card > strong {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.main .use-case .cases .card > span {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.main .use-case .reward-way {
  text-align: center;
}

.main .characters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .characters > * {
  margin-bottom: 80px;
}

@media (max-width: 639px) {
  .main .characters > * {
    margin-bottom: 3rem;
  }
}

.main .characters > span {
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
}

.main .characters .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
  width: 100%;
}

.main .characters .carousel :not(:last-child) {
  margin-right: 44px;
}

@media (max-width: 639px) {
  .main .characters .carousel :not(:last-child) {
    margin-right: 20px;
  }
}

.main .characters .carousel > img {
  height: 84px;
}

@media (max-width: 639px) {
  .main .characters .carousel > img {
    height: 50px;
  }
}

.main .characters .character-detail {
  padding: 0 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 639px) {
  .main .characters .character-detail {
    padding: 0;
    width: 100%;
  }
}

.main .characters .character-detail > img {
  height: 300px;
}

@media (max-width: 639px) {
  .main .characters .character-detail > img {
    margin-right: -85%;
  }
}

.main .characters .character-detail .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.main .characters .character-detail .info .name {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin: 2rem 0;
}

.main .characters .character-detail .info .descritpion {
  font-size: 16px;
  line-height: 22px;
}
/*# sourceMappingURL=styles.css.map */