@import "./assets/scss/mixins.scss";

body,
html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat";
  background-color: #444f6f;
  color: white;
  background-image: linear-gradient(
    31deg,
    #444f6f 0%,
    #00d0df 85%,
    #ff891b 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

* {
  outline: none;
}

section {
  margin-bottom: 80px;

  @include breakpoint(xs) {
    margin-bottom: 50px;
  }
}

header {
  height: 80px;
  display: flex;
  padding: 20px 80px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  @include breakpoint(xs) {
    height: max-content;
    padding: 10px 20px;
  }

  @include breakpoint(md) {
    flex-wrap: wrap;
    flex-direction: row;
  }

  > img {
    height: 40px;

    @include breakpoint(xs) {
      height: 30px;
      margin: 1rem 0;
    }
  }

  .right-content {
    font-size: 12px;
    display: flex;
    justify-content: center;

    > nav {
      display: flex;
      align-items: center;

      :not(:last-child) {
        margin-right: 100px;

        @include breakpoint(xs) {
          margin-right: 15px;
        }
      }
    }

    .contact-us {
      background: #00d0df;
      border-radius: 5px;
      padding: 10px 30px;
      border: none;
      color: white;

      @include breakpoint(xs) {
        padding: 5px 10px;
      }
    }
  }
}

// MAIN
.main {
  padding: 80px;
  // overflow-x: hidden;

  @include breakpoint(xs) {
    padding: 80px 20px;
  }

  // INTRO
  .intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    position: relative;
    clear: both;
    padding: 10px 0;

    @include breakpoint(xl) {
      padding: 20px 200px;
    }

    .left-content {
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      align-items: flex-start;
      z-index: 2;

      @include breakpoint(xs) {
        padding: 0;
        width: 100%;
      }

      .logo {
        height: 85px;
        margin-bottom: 50px;
        object-fit: contain;
        display: none;

        @include breakpoint(xl) {
          display: flex;
        }
      }

      .question {
        margin-bottom: 50px;
        font-weight: bold;
        font-size: 48px;
        line-height: 59px;

        @include breakpoint(xs) {
          margin-bottom: 20px;
        }
      }

      .answer {
        font-size: 16px;
        line-height: 22px;
      }
    }

    .right-content {
      height: 300px;
      right: 3rem;
      position: absolute;

      @include breakpoint(xl) {
        height: 550px;
        position: static;
      }
    }
  }

  // USE_CASES
  .use-case {
    > * {
      margin-bottom: 50px;
    }

    .heading {
      display: flex;
      flex-direction: column;
      align-items: center;

      > strong {
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;
        text-align: center;
      }

      > p {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
      }
    }

    .cases {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 10px;

      @include breakpoint(xxl) {
        padding: 0 200px;
      }

      .card {
        display: flex;
        flex-direction: column;
        background: rgba(196, 196, 196, 0.15);
        border-radius: 3px;
        align-items: flex-start;
        width: 100%;
        margin: 0.5rem 0;
        padding: 1.5rem;
        height: 240px;

        @include breakpoint(md) {
          width: 80%;
          margin: 1rem;
        }

        @include breakpoint(lg) {
          width: 40%;
        }

        @include breakpoint(xl) {
          padding: 2rem;
          height: 309px;
          width: 20%;
          margin: 1rem 1rem;
        }

        @include breakpoint(xxl) {
          padding: 2.875rem 2rem;
        }

        > img {
          height: 20%;
          object-fit: contain;
          margin-bottom: 1rem;
        }

        > strong {
          margin-bottom: 1rem;
          font-weight: bold;
          font-size: 24px;
          line-height: 29px;
        }

        > span {
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    .reward-way {
      text-align: center;
    }
  }

  // CHARACTERS
  .characters {
    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
      margin-bottom: 80px;

      @include breakpoint(xs) {
        margin-bottom: 3rem;
      }
    }

    > span {
      font-weight: bold;
      font-size: 40px;
      line-height: 49px;
    }

    .carousel {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-x: auto;
      width: 100%;

      :not(:last-child) {
        margin-right: 44px;

        @include breakpoint(xs) {
          margin-right: 20px;
        }
      }

      > img {
        height: 84px;

        @include breakpoint(xs) {
          height: 50px;
        }
      }
    }

    .character-detail {
      padding: 0 15%;
      display: flex;
      justify-content: space-between;

      @include breakpoint(xs) {
        padding: 0;
        width: 100%;
      }

      > img {
        height: 300px;

        @include breakpoint(xs) {
          margin-right: -85%;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        width: 100%;

        .name {
          font-weight: bold;
          font-size: 24px;
          line-height: 29px;
          margin: 2rem 0;
        }

        .descritpion {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
}
